.form {
    width: 300px;
    margin: 3rem auto;
    border: 1px solid;
    border-radius: 9px;
    padding: 1.5rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;

    &__input-container {
        display: flex;
        flex-direction: column;
        

        input {
            padding: .7rem;
            border: 1px solid;
            border-radius: 9px;

        }
    }

        button {
            width: 100%;
            color: white;
            background-color: black;
            padding: .3rem 1rem;
            border-radius: 11px;
            margin-bottom: 1rem;
        }
    }