*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  scroll-behavior: smooth;
  list-style: none;
  font-family: Inter, sans-serif;
}

body{
  margin: 2rem 10rem 0 10rem;
}

main{
  margin: 0 3rem;
}

img{
  display: block;
}