@use '../../../variables';

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid rgb(217, 217, 217);
    padding-bottom: 2rem;

    &__title {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-decoration: none;

        h1 {
            font-size: 18px;
        }
    }

    &__links {
        display: flex;
        gap: 1rem;

        a {
            text-decoration: none;
        }

        &-buttons {
            display: flex;
            gap: 1rem;
        }
    }

    &__title,
    &__links {
        margin: 0 2rem;
    }
}