@use '../../../variables';

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid rgb(217, 217, 217);
    padding-bottom: 2rem;

    &__title {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-decoration: none;

        h1 {
            font-size: 18px;
        }
    }

    &__links {
        display: flex;
        gap: 1rem;
        align-items: center;

        a {
            text-decoration: none;
        }

        &-buttons {
            display: flex;
            gap: 1rem;

            a{
                padding: .6rem;
                border-radius: 9px;
            }
            

            :first-child{
                background-color: rgb(227, 227, 227);
                border: 1px solid rgb(118, 118, 118);
            }
            :last-child{
                color: white;
                background-color: rgb(44, 44, 44);
            }
        }
    }

    &__title,
    &__links {
        margin: 0 2rem;
    }
}
